# VSCode
.vscode

# JetBrains IDEs
.idea

# Generated output
data/output/**
!data/output/.gitkeep

# Python artifacts
__pycache__

# virtual env
.venv/

# sample data folder
**/local/test/sample_data/

